/* reset */
body{
    padding: 0;
}
h1,h2,h3,p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
button{
    border: 0;
    cursor: pointer;
}
summary {
  cursor: pointer;
  list-style: none; 
  position: relative;
}
.container{
    max-width: 1281px;
    margin: 0 auto;
}
.header-menu{
    padding-top: 46px;
    padding-bottom: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
}
.menu>li{
    margin-right: 40px;
}
.menu>li:last-child{
    margin-right: 0;
}
.menu>li>a{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #000;
}
.menu>li>a:hover{
    font-weight: 600;
    color: #fa002c;
}
.contacts{
    display: flex;
    align-items: center;
}
.social{
    display: flex;
    margin-right: 32px;
}
.social>a{
    margin-right: 12px;
}
.social>a:last-child{
    margin-right: 0;
}
.phone{
    display: flex;
    flex-direction: column;
}
.phone>a{
    margin-bottom: 4px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.phone>a:last-child{
    margin-bottom: 0;
}
h1{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 52px;
    line-height: 119%;
    color: #000;
    max-width: 672px;
    margin-bottom: 20px;
}
.header-info>p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #000;
    max-width: 600px;
    margin-bottom: 44px;
}
.header-info>button{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #fff;
    padding: 18px 54.5px;
    background: #f50e30;
    border-radius: 8px;
    margin-bottom: 151px;
}
.header-info{
    position: relative;
}
.header-info>img{
    position: absolute;
    top: 0;
    right: -123px;
}
.buy{
    background: #f4f6f8;
    padding-top: 129px;
    padding-bottom: 119px;
}
.title{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 44px;
    line-height: 123%;
    color: #000;
    max-width: 1014px;
}
.center{
    text-align: center;
}
.buy-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy-info>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #000;
    margin-top: 24px;
    margin-bottom: 28px;
}
.buy-info>button{
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    background: #f50e30;
    border-radius: 8px;
    padding: 14px 40px;
    margin-bottom: 40px;
}
.buy-box{
    display: flex;
    justify-content: space-between;
}
.buy-item{
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 20px;
    padding: 21px 54px 91px 32px;
    position: relative;
}
.buy-item>h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 122%;
    color: #000;
    margin-bottom: 24px;
}
.buy-item>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.8);
    max-width: 301px;
}
.buy-item>img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.buy-item>.brelok{
    right: 30px;
    bottom: 18px;
}
.buy-item>.fer{
    right: 10.61px;
}
.buy-item>.money{
    right: 16px;
    bottom: 17px;
}
.about{
    display: flex;
}
.about-img{
    flex-basis: 47.29%;
    background: url('../img/about.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.about-info{
    flex-basis: 52.71%;
    padding: 52px 0 50px 100px;
}
.about-info>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #000;
    max-width: 524px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.about-info>ul>li{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    margin-bottom: 38px;
    margin-left: 76px;
    position: relative;
}

.about-info>ul>li::before{
    position: absolute;
    content: '';
    width: 52px;
    height: 52px;
    background-color: #f50e30;
    background-image: url("../img/about-car.svg");
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center;
    border-radius: 100%;
    left: -76px;
    top: -15px;
}
.about-info>ul>li:nth-child(2)::before{
    background-image: url("../img/about-achiv.svg");
}
.about-info>ul>li:last-child::before{
    background-image: url("../img/about-car2.svg");
}
.about-info>div{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    max-width: 448px;
    padding: 9px 17px;
    border: 3px solid rgba(250, 0, 44, 0.15);
    border-radius: 10px;
    margin-bottom: 32px;
}
.about-info>button{
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    border-radius: 8px;
    background: #f50e30;
    padding: 14px 40px;
}
.buyCars{
    background: #f4f6f8;
    padding: 100px 0;
}
.buyCars>.container>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    color: #000;
    margin-top: 20px;
    margin-bottom: 40px;
}
.mySwiper>.swiper-wrapper>.swiper-slide{
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 20px;
    padding: 20px 24px;
    box-sizing: border-box;
}
.swiper-slide>img{
    border-radius: 12px;
    width: 363px;
    height: 261px;
}
.swiper-slide>h3{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #000;
    margin-top: 24px;
    margin-bottom: 16px;
}
.stats{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
}
.stats:last-child{
    margin-bottom: 24px;
}
.stats-dote{
    border-bottom: 1px dashed #c1c1c1;
    flex-grow: 1;
    margin: 0 8px;
    height: 1px;
    margin-bottom: 3px;
}
.stats-name{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.5);
}
.stats-value{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: right;
    color: #000;
}
.price{
    display: flex;
    justify-content: space-between;
}
.price-info{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #000;
    max-width: 173px;
}
.price-second{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: right;
    color: #000;
}
.price-key{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: #fa002c;
}
.price{
    margin-bottom: 16px;
}
.price:last-child{
    margin-bottom: 24px;
}
.swiper-slide>button{
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    border-radius: 8px;
    background: #fa002c;
    padding: 14px 104px;
}
.swiper-pagination{
    bottom: -4px !important;
}
.swiper-wrapper{
    padding-bottom: 28px;
}
.slider-btn{
    position: relative;
}
.left,.right{
    position: absolute;
    z-index: 1000;
    top: 329px;
}
.left{
    left: -53px;
}
.right{
    right: -53px;
}
.left>img,.right>img{
    cursor: pointer;
}
.swiper-pagination-bullet-active{
    background: #fa002c;
}
.swiper-pagination-bullet{
    width: 100px;
    height: 4px;
    border-radius: 0;
}
.process{
    padding: 100px 0;
}
/* Пример deatails */
/* details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  width: 300px;
}

summary {
  font-weight: bold;
  cursor: pointer;
  list-style: none; 
  position: relative;
}
summary>p{
    padding-top: 10px;
}
summary::before {
  content: "A";
  margin-right: 5px;
  transition: transform 0.3s ease;
  position: absolute;
  right: 0;
}

details[open] summary::before {
  transform: rotate(90deg);
} */
.process>.container>details{
    padding: 32px 0 40px 109px;   
}
.bt{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 40px;
}
.process>.container>details>summary{
    display: flex;
    align-items: center;
}
.process>.container>details>summary>p{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    color: #f50e30;
}
.process>.container>details>summary>h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    color: #000;
    margin-left: 122px;
}
.process>.container>details>summary::before {
  content: "";
  background-image: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 64px;
  height: 64px;
  transition: transform 0.5s ease;
  position: absolute;
  right: 0;
}
.process>.container>details[open] summary::before {
  transform: rotate(180deg);
}
.process-info{
    display: flex;
    justify-content: space-between;
    max-width: 954px;
    margin-left: 326px;
    margin-top: 24px;
}
.process-info>h3{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    
}
.process-info>p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: rgba(0, 0, 0, 0.8);
    max-width: 520px;
}

